body {
  background-color: #010b13;
}
h1 {
  font-size: 100px;
  color: aliceblue;
  text-align: center;
  margin: 100px auto 50px auto;
}
h2 {
  color: aliceblue;
  margin: 50px 15vw 50px 15vw;
  text-align: justify;
}
.days{
  margin: 100px 50px 100px 50px;
}
.day-showcase-wrapper{
background-color:#021422;
  width: 35vw;
  height: 35vw;
  padding: 3vw;
  margin: 50px;
  display: table;
  text-align: center;
}
.day-showcase{
background-color: grey;
  text-align: center;
  height: 35vw;
  font-size: 10vw;
  color: aliceblue;
  display: table-cell;
  vertical-align: middle;
}

div.day-showcase-wrapper:nth-of-type(odd){
  float: right;
}
div.day-showcase-wrapper:nth-of-type(even){
  float: left;
}
